@import '../../variables';

.chat-message-my {
  background: $chat-message-my-bgcolor;
  max-width: 400px;
  padding: 11px;
  border-radius: 12px 12px 0;
  position: relative;
  display: inline-block;
  align-self: flex-end;

  &__text {
    padding: 0;
    margin: 10px 0 0;
    color: $chat-message-my-color;
  }

  &__text-end {
    display: inline-block;
    width: 28px;
  }

  &__time {
    font: $font-nano;
    color: $chat-message-my-time-color;
    position: absolute;
    right: 11px;
    bottom: 11px;
  }
}
