<div class="chat-message-my{{#if className}} {{className}}{{/if}}">
  {{#each message.text}}
    <p class="chat-message-my__text">{{this}}<span class="chat-message-my__text-end"></span></p>
  {{/each}}
  <time class="chat-message-my__time" datetime="{{ message.time }}">{{message.time}}</time>
</div>
