.chat-message-my {
  background: #E4EDFD;
  max-width: 400px;
  padding: 11px;
  border-radius: 12px 12px 0 12px;
  position: relative;
  display: inline-block;
  align-self: flex-end;

  &__text {
    padding: 0;
    margin: 10px 0 0;
    color: #1E1E1E;
  }

  &__text-end {
    display: inline-block;
    width: 28px;
  }

  &__time {
    font-size: 9px;
    line-height: 9px;
    color: #3369F3;
    position: absolute;
    right: 11px;
    bottom: 11px;
  }
}
