{{#> DialogModal }}
  <form class="upload-file">
    <div class="upload-file__title">Загрузите файл</div>
    <span class="upload-file__link">
      <input class="upload-file__element" type='file' name='filename'/>
      <span class="upload-file__link-text">Выбрать файл на компьютере</span>
    </span>
    {{> Button text="Поменять" page="profile" }}
  </form>
{{/DialogModal }}
