.upload-file {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 15px;
    line-height: 20px;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin: 40px 0 45px;
    overflow: hidden;
  }

  &__element {
    cursor: pointer;
    position: absolute;
    // подставим снизу плашки с текстом контроль выбора файла
    font-size: 100px;
    direction: rtl;
  }

  &__link-text {
    pointer-events: none;
    display: inline-block;
    background: #FFF;
    position: relative;
    text-decoration-line: underline;
    color: #3369F3;
    font-size: 12px;
    line-height: 16px;
  }
}
