{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "string-quotes": "single",
    "selector-list-comma-newline-after": null,
    "function-url-quotes": null,
    "scss/dollar-variable-empty-line-before": null,
    "color-hex-length": null
  }
}
