<div class="dialog-modal">
  <div class="dialog-modal__overlay"></div>
  <div class="dialog-modal__main">
    <div class="dialog-modal__content">
      {{> @partial-block }}
    </div>
  </div>
</div>
