@import '../../assets/variables';

.chat-header {
  position: relative;
  display: flex;
  align-items: center;

  &__avatar {
    height: 34px;
    width: 34px;
    background: $gray-light-color;
    border-radius: 50%;
  }

  &__name {
    padding-left: 10px;
    font-weight: $font-weight-semibold;
  }

  &__menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: $menu-button-bgcolor;
    color: $menu-button-color;
    font-weight: $font-weight-semibold;
    border-radius: 50%;
    margin-left: auto;
    cursor: pointer;
  }

  &__menu {
    align-self: self-start;
    position: absolute;
    right: 0;
    margin-top: 60px;
  }
}
