<div class="chat-header{{#if className}} {{ className }}{{/if}}">
  <div class="chat-header__avatar"></div>
  <div class="chat-header__name">{{ name }}</div>
  <div class="chat-header__menu-button" ref="button">&vellip;</div>
  {{#if menu}}
    {{{ Menu className="chat-header__menu" menu=menu onClick=onClickMenu }}}
  {{/if}}
  {{#if useradd}}
    {{{ UserAdd onSubmit=onUserAdd }}}
  {{/if}}
</div>
