.chat-message {
  background: #F8F8F8;
  max-width: 400px;
  padding: 0 11px 11px;
  border-radius: 0 12px 12px 12px;
  position: relative;
  align-self: flex-start;

  &__text {
    padding: 0;
    margin: 10px 0 0;
    color: #1E1E1E;
  }

  &__text-end {
    // распорка для отодвигания времени сообщения от текста
    display: inline-block;
    width: 28px;
  }

  &__time {
    font-size: 9px;
    line-height: 9px;
    color: #999999;
    position: absolute;
    right: 11px;
    bottom: 11px;
  }
}
