@import '../../variables';

.chat-message {
  background: $chat-message-bgcolor;
  max-width: 400px;
  padding: 0 11px 11px;
  border-radius: 0 12px 12px;
  position: relative;
  align-self: flex-start;
  font: $chat-message-font;

  &--my {
    background: $chat-message-my-bgcolor;
    padding: 11px;
    border-radius: 12px 12px 0;
    align-self: flex-end;
  }

  &__text {
    padding: 0;
    margin: 10px 0 0;
    color: $chat-message-color;

    &--my {
      color: $chat-message-my-color;
    }
  }

  &__text-end {
    // распорка для отодвигания времени сообщения от текста
    display: inline-block;
    width: 28px;
  }

  &__time {
    font: $font-nano;
    color: $text-light-color;
    position: absolute;
    right: 11px;
    bottom: 11px;

    &--my {
      color: $chat-message-my-time-color;
    }
  }
}
