<div class="chat-message{{#if className}} {{className}}{{/if}}">
  {{#if message}}
    <p class="chat-message__text">{{{message}}}<span class="chat-message__text-end"></span></p>
  {{/if}}
  <time class="chat-message__time" datetime="{{ time }}">{{ localTime time}}</time>
</div>
