.login-page {
  width: 340px;
  background-color: #fff;
  box-shadow: 0 0 6px #00000024;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 500px;
  max-height: 100%;
  box-sizing: border-box;

  &__content {
    flex: 1;
  }

}
