.login-page {
  width: 340px;
  background-color: #fff;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 450px;
  max-height: 100%;
  box-sizing: border-box;

  &__content {
    flex: 1;
  }

}
