<div class="chat-list-header">
  <div class="chat-list-header__profile" ref="profile">
    Профиль <div class="chat-list-header__profile-icon"></div>
  </div>
  {{{ Button text="Добавить чат" ref="button" }}}

  {{#if addChat}}
    {{{ DialogInput onSubmit=onAddChat title="Добавить чат" inputTitle="Название" actionText="Добавить" }}}
  {{/if}}
</div>
