<div class="input-field{{#if className}} {{ className }}{{/if}}">
  <div class="input-field__title">{{ title }}</div>
  {{{ Input
    className="input-field__element" error=error
    type=type title=title name=name value=value ref="input"
    onChange=onChange onBlur=onBlur onFocus=onFocus
  }}}
  {{{ ErrorLine error=error ref="errorLine" }}}
</div>
