@import '../../variables';

.profile-content {
  width: 510px;

  &__avatar {
    margin: 0 auto;
    height: 130px;
    width: 130px;
    background: $gray-light-color;
    border-radius: 50%;
    position: relative;

    &:hover {
      &::after {
        content: 'Поменять\0aаватар';
        display: flex;
        align-items: center;
        justify-content: center;
        color: $button-color;
        font: $font-regular;
        white-space: pre;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #00000080; // приглушаем цвет оригинального аватара
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  &__name {
    margin: 20px 0 60px;
    text-align: center;
    font: $font-title;
    color: $title-color;

    &--hidden {
      visibility: hidden;
    }
  }

  &__field {
    $this: &;

    + #{$this} {
      border-top: 1px solid $divider-line-color;
    }
  }
}
