<div class="profile-content">
  <div class="profile-content__avatar" page="profile-avatar-upload"></div>
  {{#if upload}}{{> UploadFile }}{{/if}}
  <div class="profile-content__name{{#if edit}} profile-content__name--hidden{{/if}}">Иван</div>
  {{#if password}}
    {{> ProfileField className="profile-content__field" name="password" title="Старый пароль" value="1234567" type="password" align-right=true}}
    {{> ProfileField className="profile-content__field" name="password_new" title="Новый пароль" value="111222333" type="password" align-right=true}}
    {{> ProfileField className="profile-content__field" name="password_new_copy" title="Повторите новый пароль" value="111222333" type="password" align-right=true}}
  {{else}}
    {{> ProfileField className="profile-content__field" name="email" title="Почта" value="pochta@yandex.ru" align-right=edit}}
    {{> ProfileField className="profile-content__field" name="login" title="Логин" value="ivanivanov" align-right=edit}}
    {{> ProfileField className="profile-content__field" name="first_name" title="Имя" value="Иван" align-right=edit}}
    {{> ProfileField className="profile-content__field" name="second_name" title="Фамилия" value="Иванов" align-right=edit}}
    {{> ProfileField className="profile-content__field" name="nick" title="Имя в чате" value="Иван" align-right=edit}}
    {{> ProfileField className="profile-content__field" name="phone" title="Телефон" value="+7 (909) 967 30 30" align-right=edit}}
  {{/if}}
</div>
