<div class="chat-message-image{{#if className}} {{className}}{{/if}}">
  <img src="{{ image }}" title="" width="316" height="215" class="chat-message-image__image">
  <div class="chat-message-image__time">{{time}}</div>
</div>
