<div class="chat-message-image{{#if className}} {{className}}{{/if}}">
  <img src="{{ message.image }}" title="" width="316" height="215" class="chat-message-image__image">
  <time class="chat-message-image__time" datetime="{{ message.time }}">{{message.time}}</time>
</div>
