<div class="profile-page">
  <div class="profile-page__left">
    <button class="profile-page__left-button" title="К чатам" page="chat"></button>
  </div>
  <div class="profile-page__content">
    {{> ProfileContent }}
  </div>
</div>
