@import '../../assets/variables';

.profile-page {
  display: flex;
  width: 100%;
  height: 100%;

  &__left {
    background: $chat-list-bgcolor;
    width: 64px;
    border-right: 1px solid $divider-line-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left-button {
    background: $button-bgcolor;
    background-image: url(../../assets/arrow_left_icon.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
  }

  &__center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    height: 110px;
  }

  &__field {
    $this: &;

    + #{$this} {
      border-top: 1px solid $divider-line-color;
    }
  }

  &__button-save {
    width: 280px;
  }
}
