{{#> DialogModal }}
  <div class="user-add">
    <div class="user-add__title">Добавить пользователя</div>
    {{> InputField className="user-add__input" title="Логин" value="ivanivanov"}}
    {{> Button className="" text="Добавить" page="chat" }}
  </div>
{{/DialogModal }}
