@import '../../variables';

.profile-link {
  display: flex;
  width: 100%;
  height: 32px;
  align-items: center;
  justify-content: space-between;

  &__name {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;

    &--red {
      color: $text-red;
    }
  }
}
