<div class="chat-footer{{#if className}} {{ className }}{{/if}}">
  <input class="chat-footer__message" placeholder="Сообщение">
  <button class="chat-footer__button" title="Отправить"></button>
</div>
