<form class="chat-footer{{#if className}} {{ className }}{{/if}}" ref="form">
  <input class="chat-footer__message" name="message" autocomplete="off" placeholder="Сообщение" ref="input">
  <button class="chat-footer__button" title="Отправить"></button>
</form>
