<div class="chat-list{{#if className}} {{ className }}{{/if}}">
  {{{ ChatListHeader }}}
  {{#each store.chats}}
    {{{ ChatItem id=id avatar=avatar name=name time=time message=message unread=unread }}}
  {{/each}}
</div>
