<div class="chat-page">
  {{{ ChatList className="chat-page__list" onChange=onChangeChat }}}
  {{{ ChatHeader className="chat-page__header" name="Вадим" }}}
  {{{ ChatContent className="chat-page__content" controller=controller }}}
  {{{ ChatFooter className="chat-page__footer" controller=controller }}}
</div>
