<div class="chat-page">
  {{{ ChatList className="chat-page__list" }}}
  {{{ ChatHeader className="chat-page__header" name="Вадим" }}}
  {{{ ChatContent className="chat-page__content" }}}
  {{{ ChatFooter className="chat-page__footer" }}}
</div>
