.chat-page {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template:
    "a b" 54px
    "a c" 1fr
    "a d" 54px
      / 310px 1fr;

  &__list {
    grid-area: a;
    border-right: 1px solid #EAEAEA;
  }

  &__header {
    grid-area: b;
    margin: 0 20px;
    border-bottom: 1px solid #EAEAEA;
  }

  &__content {
    grid-area: c;
  }

  &__message {
    grid-area: d;
    margin: 0 20px;
    border-top: 1px solid #EAEAEA;
  }
}
