<div class="chat-content{{#if className}} {{ className }}{{/if}}" ref="page">
  {{{ ChatDay date=date }}}
  {{#each store.messages }}
    {{{ ChatMessage my=(equals userId ../store.userId) className="chat-content__message"
      message=message time=time textTime=textTime }}}
  {{/each}}
</div>
